<mat-card>
    <mat-card-content>
        <!-- {{registerUser | json}} -->
        <form #f="ngForm" (ngSubmit)='onSubmit(f)'>
            <h2>Register</h2>
            <mat-error>{{warning}}</mat-error><br />
            <mat-form-field class="full-width-input">
                <input matInput placeholder="Email address" name="username" [(ngModel)]='registerUser.userName' [email]="true" required autofocus>
                <mat-error>Please provide a valid email address. An email address must be contain a single '@'</mat-error>
            </mat-form-field><br />
            <mat-form-field class="full-width-input">
                <input matInput placeholder="Full Name" name="fullName" [(ngModel)]='registerUser.fullName' type="text" required autofocus>
                <mat-error>Please enter your name</mat-error>
            </mat-form-field><br />
            <mat-form-field class="full-width-input">
                <input matInput type="password" placeholder="Password" name="password" [(ngModel)]='registerUser.password' required>
                <mat-error>Please provide a valid password</mat-error>
            </mat-form-field><br />
            <mat-form-field class="full-width-input">
                <input matInput type="password" placeholder="Password" name="password2" [(ngModel)]='registerUser.password2' required>
                <mat-error>Please provide a valid password</mat-error>
            </mat-form-field><br />
            <button mat-raised-button color="primary" type="submit" [disabled]="this.loading">
                <mat-icon>account_box</mat-icon>
                <span *ngIf="!this.loading">&nbsp;&nbsp;&nbsp;Register</span>
                <span *ngIf="this.loading">&nbsp;&nbsp;&nbsp;Processing Request</span>
            </button>
        </form>
    </mat-card-content>
    <div class="success" *ngIf="this.success">Registration Successful. Proceed to<br /><br /> 
        <a mat-raised-button color="accent" routerLink='/login'>
            <mat-icon>login</mat-icon>&nbsp;&nbsp;&nbsp;Login
        </a> 
    </div>
</mat-card>